
/* ZenMaruGothic font rules */
@font-face {
  font-family: "ZenMaruGothic";
  font-style: normal;
  font-weight: 900; /* Black */
  font-display: swap;
  src: url(data-base64:~assets/fonts/zen/ZenMaruGothic-Black.ttf) format('truetype');
}

@font-face {
  font-family: "ZenMaruGothic";
  font-style: normal;
  font-weight: 700; /* Bold */
  font-display: swap;
  src: url(data-base64:~assets/fonts/zen/ZenMaruGothic-Bold.ttf) format('truetype');
}

@font-face {
  font-family: "ZenMaruGothic";
  font-style: normal;
  font-weight: 300; /* Light */
  font-display: swap;
  src: url(data-base64:~assets/fonts/zen/ZenMaruGothic-Light.ttf) format('truetype');
}

@font-face {
  font-family: "ZenMaruGothic";
  font-style: normal;
  font-weight: 500; /* Medium */
  font-display: swap;
  src: url(data-base64:~assets/fonts/zen/ZenMaruGothic-Medium.ttf) format('truetype');
}

@font-face {
  font-family: "ZenMaruGothic";
  font-style: normal;
  font-weight: 400; /* Regular */
  font-display: swap;
  src: url(data-base64:~assets/fonts/zen/ZenMaruGothic-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "NotoSansJP";
  font-style: normal;
  font-weight: 900; /* Black */
  font-display: swap;
  src: url(data-base64:~assets/fonts/NotoSansJa/NotoSansJP-Black.ttf) format('truetype');
}

@font-face {
  font-family: "NotoSansJP";
  font-style: normal;
  font-weight: 700; /* Bold */
  font-display: swap;
  src: url(data-base64:~assets/fonts/NotoSansJa/NotoSansJP-Bold.ttf) format('truetype');
}

@font-face {
  font-family: "NotoSansJP";
  font-style: normal;
  font-weight: 800; /* ExtraBold */
  font-display: swap;
  src: url(data-base64:~assets/fonts/NotoSansJa/NotoSansJP-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: "NotoSansJP";
  font-style: normal;
  font-weight: 200; /* ExtraLight */
  font-display: swap;
  src: url(data-base64:~assets/fonts/NotoSansJa/NotoSansJP-ExtraLight.ttf) format('truetype');
}

@font-face {
  font-family: "NotoSansJP";
  font-style: normal;
  font-weight: 300; /* Light */
  font-display: swap;
  src: url(data-base64:~assets/fonts/NotoSansJa/NotoSansJP-Light.ttf) format('truetype');
}

@font-face {
  font-family: "NotoSansJP";
  font-style: normal;
  font-weight: 500; /* Medium */
  font-display: swap;
  src: url(data-base64:~assets/fonts/NotoSansJa/NotoSansJP-Medium.ttf) format('truetype');
}

@font-face {
  font-family: "NotoSansJP";
  font-style: normal;
  font-weight: 400; /* Regular */
  font-display: swap;
  src: url(data-base64:~assets/fonts/NotoSansJa/NotoSansJP-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "NotoSansJP";
  font-style: normal;
  font-weight: 600; /* SemiBold */
  font-display: swap;
  src: url(data-base64:~assets/fonts/NotoSansJa/NotoSansJP-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: "NotoSansJP";
  font-style: normal;
  font-weight: 100; /* Thin */
  font-display: swap;
  src: url(data-base64:~assets/fonts/NotoSansJa/NotoSansJP-Thin.ttf) format('truetype');
}
