body {
  background: rgb(186, 119, 119) !important;
}

.plasmo-csui-container {
  pointer-events: none !important;
}

#plasmo-overlay-0 {
  pointer-events: none !important;
}

#plasmo-shadow-container {
  pointer-events: none !important;
}