DATABASE_URL=
DATABASE_DIRECT_URL=
NEXT_PUBLIC_CONTENTFUL_SPACE_ID=
NEXT_PUBLIC_CONTENTFUL_ACCESS_TOKEN=
NEXT_PUBLIC_CONTENTFUL_ENVIRONMENT=
NEXT_PUBLIC_CONTENTFUL_HOST=
NEXT_PUBLIC_CONTENTFUL_PREVIEW_HOST=
NEXT_PUBLIC_CONTENTFUL_PREVIEW_TOKEN=
NEXT_PUBLIC_CONTENTFUL_API_KEY=
NEXT_PUBLIC_CONTENTFUL_PREVIEW_API_KEY=

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
CLERK_PUBLISHABLE_KEY=
OPENAI_API_KEY=
EDENAI_API_KEY=
YOUTUBE_API_KEY=
FLOWISE_PREDICTION_URL=
FLOWISE_API_KEY=
RAPIDAPI_KEY=
